* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #c2b8b8;
}

#calendar {
  width: 5rem;
  margin: 0 2rem;
}

#calendar path {
  fill: wheat;
}

.nav-link {
  font-size: 1.5rem;
}