* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #c2b8b8;
}

#eye,  #house {
  scale: 200%;
  color: red;
  padding: 20px;
}

.navbar-brand img {
  border: 1px red solid;
  width: 60px;
}